@import './assets/styles/commonStyle.scss';

:root{
    --white: #ffffff;
    --black: #0f0f0f;

}

body{
    margin: 0px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}